In [2]:
#Question=1 Create one variable containing following types of data:
#(a)String
#(b)list
#(c)float
#(d)tuple

In [3]:
# Answer

In [6]:
A = "String Variable" , [1,2,3,4,5] , 43.4 , ("hii")

In [8]:
#Question=2 Given are some following variable contaning data:
#(a)var1 = ''
#(b)var2 = '[ DS , ML , Python ]'
#(c)var3 = [ 'DS , ML , Python' ]
#(d)var4 = 1.
# What will be the data type of the above given variable.

In [9]:
#Answer
The data type of the variable 'var1' is a Empty string
The data type of the variable 'var2' is a string
The data type of the variable 'var3' is a list
The data type of the variable 'var4' is a float

In [12]:
# Explain the use of the following operator using example:
#(a)/
#(b)%
#(c)//
#(d)**

In [24]:
#Answer(a)
A = 10/2

In [25]:
print(A) # The forward slash is used as the division operator.

5.0

In [26]:
#answer(b)
B = 13 % 2

In [27]:
print(B) # The percent symbol is used to calculate the reminder of a division operation between 2 number

1

In [28]:
#answer(c)
a = 19 // 2

In [29]:
print(a) # This // operator divide the first number by second number and round the the result down to nearest integer.

9

In [30]:
#answer(d)
a = 2**3

In [31]:
print(a) # The double asterisk can be used to calculate the power of a number

8

In [32]:
# Question = 4 create a list of length 10 of your choice containing multiple types of data. using for loop print the element and its data type.

In [37]:
L = [1,2,3,4 , 'hello' , 'hii' , 45.67 , 45.44 , True , 55+5j]

In [42]:
for(i) in L :
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
hello <class 'str'>
hii <class 'str'>
45.67 <class 'float'>
45.44 <class 'float'>
True <class 'bool'>
(55+5j) <class 'complex'>

In [43]:
# ouestion= 5 Using a while loop. verify if the number A is purely divisible by B and if so then how many times it can be divisible.

In [44]:
a = 36 
b = 6 
count = 0 
while a % b == 0 :
    a/=b 
    count += 1

In [46]:
print(a%b,count)

1.0 2

In [47]:
#Question= 6 Create a list contaning 25 int type data. using for loop and if else condition print if the element is divisible by 3 or not.

In [48]:
a = [18 , 22 , 37 , 43 , 58 , 64 , 73 , 90 , 106 , 118 , 121 , 133 , 149, 154 , 169, 201 , 216 , 223 , 235 , 248 , 253 , 268]

In [49]:
for i in a :
    if i % 3 == 0 :
        print('i is divisible by 3')
    else :
        print('i is not divisible by 3')

i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is divisible by 3
i is divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3
i is not divisible by 3

In [50]:
# oustion = 7 What do you understand about mutable and immutable data types?give example for both showing this property.

In [51]:
#answer 
#mutable data types allow modifications to their state after creation,while immutable data types do not allow any changes once they created.

In [52]:
a = [1,2,3,4,5]

In [53]:
print(a)

[1, 2, 3, 4, 5]

In [54]:
a[1]=66

In [55]:
print(a)

[1, 66, 3, 4, 5]

In [56]:
b = (1,2,3,4,5)

In [57]:
b

(1, 2, 3, 4, 5)

In [58]:
b[1]=44

TypeError: 'tuple' object does not support item assignment

In [ ]:
#list are mutable and tuples are immutable.